body{
    background-color: #e1e1e1;
}
.header1{
    background-color:#131921;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    z-index: 100;
}
.header1 a img{
    width: 100px;
    height: 40px;
    margin: 20px 15px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
}
nav div{
    color: #ffffff;
    margin-top: 10px;
}
nav div p{
    font-weight: 50;
    margin-bottom: 0;
}
nav div h1{
    margin: 0 5px;
    font-size: large;
}
nav img{
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-left: 5px;
}
nav div{
    margin-left: 5px;
    width: 230px;
}
nav .sreach{
    height: 40px;
    width: 700px;
    margin-left: 10px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: larger;
    position: absolute;
    top: 20px;
}
nav .sreach:focus{
    border: 5px solid rgb(224, 194, 23) ;
}
nav button{
    margin-left:  705px;
    margin-top: 21px;
    height: 40px;
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
}
nav button img{
    margin: 0;
}
nav .return {
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    padding: 5px 5px;
    height: 60px;
    width: 100px;
}
nav .return:hover{
    border: 1px solid white;
}
nav .return p{
    font-size: larger;
    margin: 0;
}
nav.return h1{
    margin: 0;
}
nav .add{
    width: 150px;
    margin-top: 10px;
    padding: 10px 10px;
    display: flex;
    height: 50px;
}
nav .add:hover{
    border: 1px solid white;
}
nav .add p{
    margin: 10px 3px;
    font-size: larger;
    padding: 0;
   
}
nav .add img{
    margin-top: 10px;
    padding: 0;
}
.header2{
    background-color:#232f3e ;
    position: absolute;
    left: 0;
    top: 80px;
    height: 50px;
    width: 100%;
    z-index: 2;
}
.header2 ul{
    display: flex;
    list-style: none;
}
.header2 ul li{
    margin-top: 5px;
    color: #ffffff;
    margin-left: 10px;
    padding: 5px;
}
.header2  img{
    width: 300px;
    margin-top: 10px;
    margin-left: 150px;
}
.header2 ul li:hover{
    border: 1px solid white;
}
.header2 ul li img:hover{
    border: none;
}
